.Footer {
    width: 100%;
    min-height:10vh;
    padding: 1rem 0;
    /* color: var(--background-color); */
    background-color: var(--text-color);
    color: #d9d9d9b0;

    align-content: center;
    
    .content {
        margin: auto;
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        padding: 0 10%;

        font-weight: 100;

        .right {
            ul {
                list-style: none;
                display: flex;
                margin: 0;

                li {
                    margin: 0 5px;

                    a {
                        color: #d9d9d9b0;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
