@import url("https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&family=Pinyon+Script&display=swap");

:root {
    font-family: "Kreon", serif;
    /* font-family: "Pinyon Script", cursive; */

    /* --background-color: #191920;
    --text-color: #ffffff;
    --light-text-color: #f2f0f09e; */

    --background-color: #d9d9d9;
    --text-color: #191920;
    --light-text-color: #1919209e;

    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;

}

span{
    overflow-x: hidden;
}

.App {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    overflow-x: hidden;
    margin: 0;
}

#root {
    overflow-x: hidden;
    max-width: none;
    margin: 0;
}

.linkRef {
    color: var(--text-color);
}

.HOME {
    animation: spawn 0.4s cubic-bezier(0.5, 0, 0.5, 1) forwards;
}

@keyframes spawn {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width: 1000px) {
    .sm{
        display: block;
    }

    .md{
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .md{
        display: block;
    }

    .sm{
        display: none;
    }
}